.header {
  margin-top: 45px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(84, 84, 84, 1);
  border-bottom-style: solid;
  padding-bottom: 41px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo {
    width: 126px;
  }

  .header {
    height: 56px;
    margin-top: 28px;
    padding: 0;
    max-width: 100%;
  }
}
