.profile {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.profile__image {
  height: 120px;
  width: 120px;
  margin-right: 24px;
  padding: 0;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title edit add"
    "subtitle . add";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 9px 17px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  grid-area: title;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  grid-area: subtitle;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit-default.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px;
  border-style: solid;
  border-color: white;
  height: 24px;
  width: 24px;
  grid-area: edit;
  margin-top: 15px;
  cursor: pointer;
  transition: ease-in 0.1ms;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/add-default.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
  height: 50px;
  width: 150px;
  grid-area: add;
  margin-left: auto;
  cursor: pointer;
  transition: ease-in 0.1ms;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    margin-top: 42px;
  }

  .profile__image {
    margin-bottom: 26.25px;
    margin-left: auto;
    margin-right: auto;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .profile__title {
    text-align: center;
    font-size: 33px;
  }

  .profile__subtitle {
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
    width: 100%;
  }
  .profile__edit-button {
    margin-top: 10px;
    width: 20px;
    height: 20px;
  }

  .profile__add-button {
    width: 260px;
    justify-content: center;
    margin: 36px 0 0 0;
    padding: 0;
  }
}

@media screen and (max-width: 620px) {
  .profile__title {
    font-size: 22px;
  }

  .profile__subtitle {
    font-size: 14px;
  }

  .profile__edit-button {
    margin-top: 5px;
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    width: 282px;
  }
}
